*{
    margin :0;
    padding:0;
    box-sizing: border-box;
}
nav {
    background-color: #800080;
    display :flex;
    font-size: 20px;
    align-items: center;

  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin: auto; 
  }
  
  nav .nav-link{
    color: white; 
    text-decoration: none;
    padding: 10px;
  }
  #print-button{
    padding: 10px 20px;
    font-size: 13px;
    background-color: black; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 3px; 
  }
  
  
  nav .nav-link:hover {
    color: grey;
    
    
  }
  nav img{
    width: 100px;
    height : 100px;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
  }
 @media screen and (max-width: 768px) {
    nav {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    nav .logo {
      margin-right: 0; 
      margin-bottom: 10px; 
    }
  }
  
  
  
  .search-form input[type="text"] {
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px; 
  }
  
  .search-form button {
    padding: 10px 20px;
    font-size: 13px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 3px; 
  }

.login button {
    padding: 10px 20px;
    font-size: 13px;
    background-color:orangered; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 3px; 
  }


.Image-gallery{
 padding :10px;
 background: #fff;
 display: grid;
 grid-gap:10px;
 grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
 grid-auto-rows: 200px;
 grid-auto-flow: dense;
}
.Image-gallery > div{
    display: flex;
    justify-content: center;
    align-items: center;

}
.Image-gallery> div> img{
    max-width: 100%;
    height : 100%;
    vertical-align: middle;
    object-fit: cover;
    border-radius: 5px;
  
    display: inline-block;
}

.Image-gallery>div>img:hover{
    transform:scale(0.9);
    z-index :0.9;
}

.Image-gallery .wide{
    grid-column: span 2;
}
.Image-gallery .tall{
    grid-row: span 2;
}
.Image-gallery .big{
    grid-column: span 2;
    grid-row : span 2;
}



.Dishes{
    display:flex;
    justify-content: left;
    padding: 20px;
    background:black;
    overflow: hidden;
    
}
.Dishes2{
    display:flex;
    justify-content: left;
    padding: 20px;
    background:white;
    overflow: hidden;
}

.Dishes > img{
    max-width: 100%;
    height : 100%;
    flex :1;
    object-fit: cover;
    border-radius: 20%;
    scale: 0.9;
}
.Dishes2 > img{
    max-width: 100%;
    height : 100%;
    flex :1;
    object-fit: cover;
    border-radius: 15px;
}

.Dish-Descr{
    flex :2;
    font-size: 45px;
    color: coral;
    padding: 20px;
    background: rgb(94, 28, 28);
    border-radius: 5px;
}













































  body{
    background-color: black;
  }
  html{
    padding:10px;
  }

  .rating {
    cursor: pointer;
  }
  
  .star {
    font-size: 24px;
  }
  
  .star:hover,
  .star.active {
    color: gold;
  }
  
  